
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h5> Listing </h5>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{{ 'backend.membership.partner'|trans }}</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a href="{{ path('app_admin_new_partners') }}" class="btn btn-success">{{ 'backend.global.neew'|trans }}</a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <form action="{{ path('app_admin_groupaction_partners') }}" id="grpaction" method="post" name="grpaction">
                                <div class="form-group form-inline">
                                    <select class="form-control" name="action" required id="action_select">
                                        <option value="">Action de groupe</option>
                                        <option value="desactiver">Desactiver</option>
                                        <option value="activer">Activer</option>
                                        <option value="supprimer">Supprimer</option>
                                    </select>
                                    <button class="btn btn-primary" type="submit">Go!!</button>
                                </div>

                            </form>
                            <table id="example" class="display table table-striped table-bordered dataminetables" >
                                <thead>
                                <th><input type="checkbox" id="select_all" name="select_all"></th>
                                <th>{{ 'backend.pt.name'|trans }}</th>
                                <th>{{ 'backend.pt.description'|trans }}</th>
                                <th>{{ 'backend.pt.prefix'|trans }}</th>
                                <th>{{ 'backend.mt.modif'|trans }}</th>
                                <th>{{ 'backend.mt.borrar'|trans }}</th>
                                </thead>
                                <tbody>
                                {% for paymenttype in paymenttypes|filter(paymenttype => paymenttype.status)  %}
                                    <tr>
                                        <td><input type="checkbox" class="chkgrp" name="chkgrp[]" value="{{ paymenttype.id }}"></td>
                                        <td>{{ paymenttype.name }}</td>
                                        <td>{{paymenttype.description }}</td>
                                        <td>{{ paymenttype.prefix }}</td>
                                        <td><a class="btn btn-primary" href="{{ path('app_admin_edit_pt',{"id":paymenttype.id}) }}"><i class="fa fa-edit"></i></a></td>
                                        <td><a href="{{ path('app_admin_delete_pt', {'id': paymenttype.id}) }}" class="btn btn-danger disable-btn del-link" type="submit" ><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
